body {
	margin: 0;
	/*padding:0;*/
}
.container {
	width: 100%;
	height: 1000px;
	background-color: beige;
}

.header {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	
	background-color: grey;
}

#responsive-headline {
	font-family: 'Droid Serif', serif;
	font-size: 4.4em;
}

.video-box {
	margin: 0 auto;
	width: 80%;
	border: 1px solid grey;
}